.Contenedor{
    border: 1px solid black;
    width: 15px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}



.luces{
    border: 1px solid black;
    width: 150px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
}

.luces div{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 50%;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.ambar{
    background-color: orange;
}
.light-on {
    box-shadow: 0px 0px 50px 20px rgb(219, 241, 190);
     
}